<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boogle</title>
    <link rel="stylesheet" href="static/css/boogle/style.css">
</head>
<body>
<div class="container">
    <div class="header">
        <div class="gmail">
            <p>Gmail</p>
        </div>
        <div class="slike">
            <p>Slike</p>
        </div>
        <div class="mreza">
            <img class="mrezaimg" src="static/img/boogle/mreza.svg" alt="mreza">
        </div>
        <div class="emoji">
            <img class="emojiimg" src="static/img/boogle/emojiimg.jpg" alt="emoji">
        </div>
    </div>
    <div class="main">
        <div class="image">
            <img class="boogleimage" src="static/img/boogle/boogleimg.png" alt="boogle">
        </div>
        <div class="searchbar">
            <input class="search" type="text">
        </div>
        <div class="iskanje">
            <div>
                <input class="iskanjegoogle" type="submit" aria-label="Iskanje Google" value="Iskanje google">
            </div>
            <div>
                <input class="kliknasreco" type="submit" aria-label="Klik na srečo" value="Klik na srečo">
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="f-levo">
            <div class="predstavitev">
                <p>Predstavitev</p>
            </div>
            <div class="oglasevanje">
                <p>Oglaševanje</p>
            </div>
            <div class="posel">
                <p>Posel</p>
            </div>
            <div class="kakodeluje">
                <p>Kako deluje iskanje Google</p>
            </div>
        </div>
        <div class="f-desno">
            <div class="zasebnost">
                <p>Zasebnost</p>
            </div>
            <div class="pogoji">
                <p>Pogoji</p>
            </div>
            <div class="nastavitve">
                <p>Nastavitve</p>
            </div>
        </div>
    </div>
</div>
</body>
</html>