<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pink Floyd tribute page</title>
    <link rel="stylesheet" href="static/css/tribute_page/style.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>Pink Floyd</h1>
            <p>Pink Floyd are an English rock band formed in London in 1965</p>
        </div>
        <div class="central">
            <div class="l-sidebar">
                <h2>Band members</h2>
                <ul>
                    <li>
                David Gilmour
                    </li>
                    <li>
                Nick Mason
                    </li>
                    <li>
                Syd Barret
                    </li>
                    <li>
                Rager Waters
                    </li>
                    <li>
                Richard Wright
                    </li>
                </ul>
            </div>
            <div class="main">
                <figure>
                    <img src="static/img/tribute_page/Pink_Floyd.jpg" alt="Pink Floyd band members" />
                    <figcaption>Pink Floyd in January 1968. Clockwise from bottom: David Gilmour, Nick Mason, Syd Barrett, Roger Waters and Richard Wright</figcaption>
                </figure>
                <h2>About</h2>
                    <p>
                        Pink Floyd were founded in 1965 by Syd Barrett (guitar, lead vocals), Nick Mason (drums), Roger Waters (bass guitar, vocals) and Richard Wright (keyboards, vocals). Under Barrett's leadership, they released two charting singles and the successful debut album The Piper at the Gates of Dawn (1967). The guitarist and vocalist David Gilmour joined in January 1968; Barrett left in April 1968 due to deteriorating mental health. Waters became the primary lyricist and thematic leader, devising the concepts behind Pink Floyd's most successful albums, The Dark Side of the Moon (1973), Wish You Were Here (1975), Animals (1977) and The Wall (1979). The musical film based on The Wall, Pink Floyd – The Wall (1982), won two BAFTA Awards. Pink Floyd also composed several film scores.
                    <br>
                        Following personal tensions, Wright left Pink Floyd in 1981, followed by Waters in 1985. Gilmour and Mason continued as Pink Floyd, rejoined later by Wright. They produced the albums A Momentary Lapse of Reason (1987) and The Division Bell (1994), backed by major tours, before entering a long hiatus. In 2005, all but Barrett reunited for a performance at the global awareness event Live 8. Barrett died in 2006, and Wright in 2008. The last Pink Floyd studio album, The Endless River (2014), was based on unreleased material from the Division Bell recording sessions. In 2022, Gilmour and Mason reformed Pink Floyd to release the song "Hey, Hey, Rise Up!" in protest of the Russo-Ukrainian War.
                    </p>
            </div>
            <div class="r-sidebar">
                <h2>Discography</h2>
                <p>Studio albums</p>
                <ul>
                    <li>
                        The Piper at the Gates of Dawn (1967)
                    </li>
                    <li>
                        A Saucerful of Secrets (1968)
                    </li>
                     <li>
                        More (1969)
                    </li>
                     <li>
                        Ummagumma (1969)
                    </li>
                     <li>
                        Atom Heart Mother (1970)
                    </li>
                     <li>
                        Meddle (1971)
                    </li>
                     <li>
                        Obscured by Clouds (1972)
                    </li>
                     <li>
                         The Dark Side of the Moon (1973)
                    </li>
                     <li>
                        Wish Your Were Here (1975)
                    </li>
                     <li>
                        Animals (1977)
                    </li>
                     <li>
                        The Wall (1979)
                    </li>
                     <li>
                        The Final Cut (1983)
                    </li>
                     <li>
                        A Momentary Lapse of Reason (1987)
                    </li>
                     <li>
                        The Division Bell (1994)
                    </li>
                     <li>
                        The Endless River (2014)
                    </li>
                </ul>
            </div>
        </div>
        <div class="footer">
            <h3>Read more about this fabulous band <a href="https://en.wikipedia.org/wiki/Pink_Floyd#Discography">here</a></h3>
        </div>
    </div>
</body>
</html>