<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://kit.fontawesome.com/5c72f2b4b2.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8">
    <title>Portfolio</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
<header>
    <nav id="navbar" class="navbar">
        <ul>
            <li><a href="/">About</a></li>
            <li><a href="/portfolio">Work</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>
</header>
<section id="projects" class="project-section">
    <h2>These are some of my projects</h2>
    <div class="project-border">
    </div>
    <div class="project-tiles">
        <a
                href="/tribute_page"
                target="_blank"
                class="project-tile">
            <img src="static/img/tribute_page/Pink_Floyd.jpg"
                 alt="Pink Floyd members" class="project-picture">
            <p class="project-title">Pink Floyd tribute page</p>
        </a>
        <a
                href="/boogle"
                target="_blank"
                class="project-tile">
            <img src="static/img/boogle/mreza.svg"
                 alt="emoji" class="project-picture">
            <p class="project-title">Fake Google - 'Boogle'</p>
        </a>
        <a
                href="/hair_salon"
                target="_blank"
                class="project-tile">
            <img src="static/img/hair_salon/logo.jpg"
                 alt="hair salon logo"
                 class="project-picture">
            <p class="project-title">Hair salon</p>
        </a>
    </div>
</section>
</body>
</html>