<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://kit.fontawesome.com/5c72f2b4b2.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8">
    <title>Contact</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
<header>
    <nav id="navbar" class="navbar">
        <ul>
            <li><a href="/">About</a></li>
            <li><a href="/portfolio">Work</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>
</header>
<section id="contact" class="contact-section">
    <div class="contact-header">
        <h2>Contact me...</h2>
        <p>At any of these places</p>
    </div>
    <div class="contact-links">
        <a
                href="https://www.facebook.com/matej.hajdinjak.5"
                target="_blank"
                class="contact-link">
            <i class="fa-brands fa-facebook"> Facebook</i>
        </a>
        <a
                href="https://github.com/MHajdo"
                target="_blank"
                class="contact-link">
            <i class="fa-brands fa-github"> GitHub</i>
        </a>
        <a
                href="https://www.freecodecamp.org/Hajdo"
                id="profile-link"
                target="_blank"
                class="contact-link">
            <i class="fa-brands fa-free-code-camp"> freeCodeCamp</i>
        </a>
        <a
                href="https://twitter.com/hantachinni"
                target="_blank"
                class="contact-link">
            <i class="fa-brands fa-twitter"> Twitter</i>
        </a>
    </div>
</section>
</body>
</html>